<script id="bootstrap-current-user" type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render("api/users/user.json.jbuilder",
      user: current_user).html_safe %>
  <% end %>
  window.pirateImage = "<%= image_path('pirate.png') %>"
  window.earth = "<%= image_path('earth.png') %>"
  window.lock = "<%= image_path('lock.png') %>"
  window.emptyTreasure = "<%= image_path('empty_treasure.png') %>"
  window.greenPlus = "<%= image_path('green_plus.png') %>"
  window.redMinus = "<%= image_path('red_minus.png') %>"
</script>

<div id="root"></div>
